/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
}
header{
	background-color:#011e29;
}
.holder{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	align-content:center;
	padding:20px;
}
.pictorial-news-section{
	width:200px;
	border-radius:5px;
	text-align:center;
	padding:20px;
	background-color:#f5f5f5;
}
.latest-news-section{
	width:200px;
	text-align:center;
	padding:20px;
	background-color:#f5f5f5;
}